---
import CertificateImages from "../components/CertificateImages.tsx"

interface Props{
  id: number
  title: string
  subtitle: string
  image: string
  url: string
}

const { id, title, subtitle, image, url} = Astro.props
---

<div>
  <CertificateImages id={id} image={image} title={title} subtitle={subtitle} url={url} />
  <div class="flex justify-between">
    <div class="flex flex-col my-2">
      <h1 class="font-semibold text-xl">{title}</h1>
      <h2 class="text-gray-400">{subtitle}</h2>
    </div>
    <div class="flex mr-2 my-2 gap-2">
      <a href={url} target="_blank" class="p-2 hover:bg-white transition-colors duration-500 rounded-xl hover:text-slate-900 flex justify-center items-center h-fit w-fit">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path>
          <path d="M11 13l9 -9"></path>
          <path d="M15 4h5v5"></path>
       </svg>
      </a>
    </div>
  </div>
</div>

